body{
    font-family: 'Roboto';
}

nav{
    background-color: #11097c;
    padding: 1%;
    text-align: center;
    justify-content: space-around;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

a.galeria{
    background-color: #483ceb;
    padding-left: 100px;
    padding-right: 100px;
}

.a{
    padding-left: 100px;
    padding-right: 100px;
}

#foto{
    background-image: url(../img/moon.jpg);
    height: 100vh;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 2rem;
}

.galeriafoto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 2%;
}





footer{
    background-color: #11097c;
    text-align: center;
    color: white;
}