body{
    font-family: 'Roboto';
}

nav{
    background-color: #11097c;
    padding: 1%;
    text-align: center;
    justify-content: space-around;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

a.reserva{
    background-color: rgb(72, 60, 235);
    padding-left: 100px;
    padding-right: 100px;
}

.a{
    padding-left: 100px;
    padding-right: 100px;
}

#themoon{
    background-image: url(../img/alexander-andrews-vGCErDhrc3E-unsplash.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
}

#themoon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.bk{
    background-color: rgba(79, 198, 235, 0.4);
    border: 3px solid #0a0463;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.form{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
}

input{
    border-radius: 9px;
    border: 3px solid #0a0463;
    background-color: rgba(0, 255, 255, 0.4);
}

.boto{
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    border: 3px solid #0a0463;
    margin-bottom: 10px;
}


footer{
    background-color: #11097c;
    text-align: center;
    color: white;
}